@media (max-width: 1050px) {
	.glavni-wrapper {
		width: 100%;
		height: 670px;
	}

	.levi-deo {
		width: 100%;
		float: none;
		text-align: center;
		padding-top: 40px;
	}

	.desni-deo {
		display: none;
		float: none;
	}

	.naslov {
		float: none;
		margin-top: 100px;
	}

	.glavno-dugme {
		float: none;
	}

	.drugo-dugme {
		float: none;
	}

	.navigacija {
		box-sizing: border-box;
		padding: 0px 30px;
	}

	.link-tile {
		width: auto;
		height: 100%;	
		padding: 0px 10px 0px 10px;
		margin-top: 16px;
	}

	.crni-deo {
		width: 100%;
		height: 900px;
		text-align: center;
	}

	.crni-wrapper {
		width: 100%;
	}

	.crni-levi {
		width: 100%;
		height: 540px;
		float: none;
	}

	.gklasa {
		float: none;
	}

	.gklasa-tekst {
		float: none;
		margin-left: 0px;
	}

	.crni-desni {
		width: 100%;
		height: 650px;
	}

	.h1-gklasa {
		float: none;
		margin-left: 0px;
		margin-top: 20px;
	}

	.specifikacija {
		float: none;
		width: 100%;
		height: auto;
		padding: 0px;
		text-align: center;
	}

	.specifikacija > .specifikacija-tile {
		width: 100%;
		margin-top: 20px;
	}

	.specifikacija > .tile-dva {
		margin-left: 0px;
	}

	.specifikacija > .tile-fix {
		margin-left: 0px;
	}

	.video-deo > .video-wrapper {
		width: 100%;
	}

	.video-deo > .video-wrapper > iframe {
		width: 90%;
	}

}